@import "variables";
@import "mixing";

body {
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  nav{
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;
  }
/* ====================Start of top Navbar======================= */
.top {
  height: 2rem;
  width: 100%;
  background-color: rgb(255, 208, 0);
  @include flex(center);
  z-index: inherit;
}

.top > a {
  font-size: 13px;
  font-weight: bold;
  // text-decoration: underline;
  @include cursor;
  color: rgb(0, 0, 0); 
}

/* ====================End of top Navbar======================= */
/* ====================Start of mid Navbar======================= */
.mid {
  height: 3.3rem;
  width: 100%;
  background-color: #030835;
  @include flex(space-between);
  z-index: inherit;
}

.signUp {
  height: 70%;
  width: 34rem;
  background:   linear-gradient(90deg,#154284,#181733);
  margin-left: 7.2rem;
  border-radius: 30px;
  @include flex(center);
  @include cursor;
}

.signUp > span{
  font-size: 13px;
  font-weight: bold;
  font-family: $font1;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

.signUp > .yellow{
  color: rgb(250, 221, 56);
}
.signUp > .red {
  height: 27%;
  width: 10px;
  border-radius: 10px;
  background: red;
  margin-right: 2px;
  margin-top: 3px;
}
  
.signUp > .blue {
  height: 27%;
  width: 10px;
  border-radius: 10px;
  background: blue;
  margin-top: 3px;
}

.register {
  @include flex(center);
  height: 100%;
  width: 27%;
  margin-right: 30px;
  padding: 0.4rem;
  gap: 0.9rem;
}

.register > .login {
  width: 30%;
  height: 90%;
  @include flex(center);
  gap: 0.5rem;
  @include cursor;
}
  
.login > .login_logo {
  height: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  color: white;
  background-color: rgb(11, 11, 139);
  @include flex(center);
  color: white;
  font-size: 15px;
}

.login > .login-text {
  width: 40%;
  font-size: 16px;
  font-weight: 500;
  font-family: $barca-font;
  color: white;
  font-weight: 700;
  @include cursor;
  text-decoration: none;
}
.login:hover{
  .login-text{
  text-decoration: underline;
  }
}
.register > .link{
  height: 75%;
  width:35%;
  background: linear-gradient(to right,rgb(170, 0, 0), rgb(243, 52, 52));
  border-radius: 5px; 
  @include flex(center);
  gap: 12px;
  text-decoration: none;
}
.link > img {
  width: 20%;
  height:auto;
}
.link > .register_text{
  color: whitesmoke;
  font-size: 1rem;
  font-family: $barca-font;
  font-weight: 700;

}
.register > .lang{
  @include cursor;
  @include flex(center);
  height: 65%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(34, 34, 83);
  font-family: $barca-font;
  font-weight: 700;
  font-size: 14px;
  color: white;
}
.register > .lang:hover{
  background: #ce1f1f;
  transition: all 0.5s ease-in-out ;

}

.register > .www{
  @include cursor;
  @include flex(center);
  height: 65%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(34, 34, 83);
  font-family: $barca-font;
  font-weight: 700;
  font-size: 14px;
  color: white;
  transition: all background-color 2s ease ;
  flex-direction: column;
}


.www > .text{
  font-size: 9px;
  color: white;
  font-family: $barca-font;
  font-weight: 400;
}

.register > .www:hover{
  background: #ce1f1f;
  transition: all 0.5s ease-in-out ;

}
/* ====================End of mid header======================= */

/* ====================Start of bottom header======================= */

.bottom{
  width: 100%;
  height: 4.4rem;
  // border: 2px solid tomato;
}

.bottom > .big{
  width: 100%;
  height: 90%;
  background: rgb(26, 34, 70);
  @include flex(center);
}

.big > .logo{
  @include cursor;
  margin-left: 2rem;
  z-index: 600;
}

.white_nav{
  width: 45%;
  @include flex(flex-start);
  gap:3rem;
  padding-left: 5rem;  margin: 0;
  height: 100%;
  // margin-right: 5;
}

.white_nav > li{
  height: 70%;
  width: auto;
  color: whitesmoke;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  @include flex(flex-start);
  gap: 0.2rem;
  position: relative;
}
.white_nav > li:hover{
  @include cursor;
  color: #9c9c9c;
}
.white_nav li:nth-child(1):hover .about_team{
  visibility: visible;
}

.about_team{
  visibility: hidden;  
  position: absolute;
  top:122%;
  left: -98%;
  height: 190px;
  width: 220px;
  background:#154284 ;
  color: whitesmoke;
  padding-inline: 10px;
  @include flex(space-around);
  align-items: flex-start;
}
.about_team::after{
  content: " ";
  position: absolute;
  top: -17%;
  left: 45%;
  border-width: 18px;
  border-style: solid;
  border-color: transparent transparent #154284 transparent;
}
.about_team .row2{
  margin-left: 13px;
}
.row1,
.row3{
  width: 49%;
}
.row1 ul,
.row3 ul {
  list-style: none;
  padding: 0 ;
} 
.row1 ul li,
.row3 ul li{
  padding: 10px;
}
.club_info{
  height: 300px;
  width: 580px;
  visibility: hidden;
  position: absolute;
  top:120%;
  left: -595%;
  background:#154284 ;
  color: whitesmoke;
  padding-top: 10px;
  @include flex(space-around);
  align-items: flex-start;
}
.club_info::after{
  content: " ";
  position: absolute;
  top: -12%;
  left: 45.6%;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #154284 transparent;
}
.club_info .row2{
  margin-right: 10px;
}
.row2{
  height: 95%;
  width: 1px;
  background-color: gray;
}
.white_nav li:nth-child(2):hover .club_info{
  visibility: visible;
}

.barcaTeam{
  visibility: hidden;
  width: 99vw;
  height: 280px;
  position: absolute;
  top: 120%;
  left: -415%;
  padding-top: 50px;
  @include flex(space-around);
  align-items: flex-start;
  background:#0a0927;
  z-index: 400;
  text-transform: capitalize;
}
.barcaTeam ul{
  padding: 0;
  list-style: none;
}
.barcaTeam ul li{
  // margin: none;
  padding: 5px;
}
.barcaTeam ul li:nth-child(1){
  color: rgb(255, 217, 0);
  font-size: 17px;
  font-weight: 600;
}
.barcaTeam ul li:hover{
  text-decoration: underline;
}
.barcaTeam ul li:nth-child(1):hover{
  text-decoration: none;
  cursor:auto;
}
.white_nav li:nth-child(3):hover .barcaTeam{
  visibility: visible;
}

.yellow_nav{
  width: 45%;
  // @include flex(flex-end);
  @include flex(flex-end);
  gap:3rem;
  padding: 0;
  height: 100%;
}
.yellow_nav > li{
  height: 80%;
  width: auto;
  color: rgb(255, 217, 0);
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  @include flex(center);
  gap: 0.2rem;
}
.yellow_nav li:hover{
  @include cursor;
}
.tickandmus{
  height: 307px;
  width: 500px;
  visibility: hidden;
  position: absolute;
  top:95%;
  left: 53.4%;
  background:#154284 ;
  color: whitesmoke;
  padding-top: 10px;
  @include flex(space-around);
  align-items: flex-start;
}
.tickandmus::after{
  content: " ";
  position: absolute;
  top: -8%;
  left: 46%;
  border-width: 13px;
  border-style: solid;
  border-color: transparent transparent #154284 transparent;
}
.tickandmus .row2{
  margin-right: 10px;
}
.yellow_nav li:nth-child(1):hover .tickandmus{
  visibility: visible;
}

.big > .bar{
  height: 60%;
  width: 0.1rem;
  background: gray;
  margin-left:3rem;
}
.big > .search_icon{
  height: 90%;
  width: 4.6rem;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 300;
  @include flex(center);
  @include cursor;
}

.big > .search_icon:hover{
  background-color: rgb(114, 114, 114,0.3);
}


.bottom > .small{
  width: 100%;
  height: 10%;
  background: linear-gradient(90deg, #cd122d 0, #154284); 

}
  
/* ====================End of Bottom header======================= */

main{
  margin-top: 9rem;
  width: 100%;
  height: 628vh;
}

/* ====================Start of Container ====================== */
.container{
  width: 100%;
  height: 14%;
  box-sizing: border-box;
  background-image: url("https://www.fcbarcelona.com/photo-resources/2024/02/26/4d586cd5-1e6c-4bae-a520-46c0512808c6/_GP25216.jpg?width=1600&height=700");
  background-position: center;
  background-repeat: no-repeat;
  // text-align: center;
  @include flex(center);
  flex-direction: column;
}

.container > .overlay{
  width: 100%;
  height: 9%;
  position: absolute;
  top: 5%;
  left: 0;
  background: linear-gradient(to bottom, rgba(14, 12, 32,0.01) 0%, rgb(24, 20, 48)40%, rgb(24, 20, 48) 55%, rgb(24, 20, 48,1.2) 100%);
}

.container > img:hover{
  @include cursor;
  .container > .text{
    text-decoration: underline;
  }

  .text:hover{
    
    text-decoration: underline;
  }
}

.container > .blue_rectangle{
  height: 20rem;
  width: 2rem;
  background-color: rgb(0, 36, 156);
  position: absolute;
  top: 4rem;
  left: 0;
}

.container > .red_rectangle{
  height: 13rem;
  width: 2rem;
  background-color: #ce1f1f;
  position: absolute;
  top: 12rem;
  right: 0rem;
}

.container > .text{
  width: 60rem;
  height:5rem;
  margin-top: 8rem;
  font-size: 2.4rem;
  font-weight: 800;
  font-family: $barca-font;
  color: whitesmoke;
  z-index: 0;
  letter-spacing: -1px;
  text-align: center;  
}

.container > .bottom_line{
  height: auto;
  width: 20%;
  @include flex(center);
  gap: 0.8rem;
  margin-top: -1rem;
  z-index: 1;
}
.bottom_line > .yellow{
  height: 0.8rem;
  aspect-ratio: 1;
  background-color: rgb(247, 242, 0);
  // margin-right: -0.5re m;
  @include flex(baseline);
} 

.bottom_line > .type{
  font-size: 18px;
  font-family: $barca-font;
  font-weight: 200;
  color: rgb(247, 242, 0);
  margin-right: 0.2rem;
}
.bottom_line > .right_bottom{
  font-size: 14px;
  font-family: $barca-font;
  font-weight: 500;
  color: rgb(161, 157, 157);

}

.container > .text:hover{
  @include cursor;
  text-decoration: underline;
}
.cards{
  height: 14rem;
  width: 95%;
  @include flex(space-between);
  position: absolute;
  top: 10.5%;
  left: 2rem;
  // border: 2px solid red;
  // z-index: 5;
}
.card{
  height: 100%;
  width:19%;
  @include flex(space-between);
  @include cursor;
  flex-direction:column ;
}

.card:hover{
  .container > .text{
    text-decoration: none;
  }
}

.card > img{
  width: 100%;
  height: 50%,;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.card > .main_text{
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 600;
  font-family: $barca-font;
  text-align: center;
  @include flex(space-evenly);
  margin-bottom: 1rem;
}

.card > .last{
  width: 100%;
  height: 10%;
  margin-top: 0.1rem;
  @include flex(center);
  gap: 0.5rem;
}

.last > .yellow_box{
  height: 8px;
  width: 8px;
  background-color: rgb(228, 167, 0);
}

.last > span{
  color: rgb(228, 167, 0);
  font-size: 0.8rem;
  font-weight: 300;
  font-family: $barca-font;
}

.last > .time{
  color: white;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 400;
  margin-left: 3rem;
}

.card:nth-child(1){
  background: #191b38;
  border-radius: 7px;
}
.card:nth-child(2){
  background: #1b1f42;
  border-radius: 6px;
}
.card:nth-child(3){
  background: #0d1241;
  border-radius: 6px;
}
.card:nth-child(4){
  background: #030835;
  border-radius: 6px;
}
.card:nth-child(5){
  background: #030835;
  border-radius: 6px;

}
.card:nth-child(6){
  background: #030835;
  border-radius: 6px;
}
/* ====================End of Container ======================= */
/* ====================Start of big_container ======================= */
.big_container{
  height: auto;
  width: 100%;
  background: linear-gradient(to bottom,rgb(131, 14, 14,) 0%, rgb(19, 19, 65) 4.9%,rgb(24, 12, 53) 50%,rgb(19, 12, 48) 100% );
  display: flex;
  flex-direction:column;
  gap: 2rem;
  overflow: hidden;
}

.big_container > .partners{
  height: 5rem;
  width: 100%;
  margin-top: 4.5rem;
  margin-bottom: -1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.partners > span{
  color: whitesmoke;
  font-size: 0.7rem;
  font-family: $barca-font;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 1.5rem;
  margin-inline:2rem;
}

.partners > .bar{
  height: 3.5rem;
  width:1px;
  background-color: white;
  margin-bottom: 0.2rem;
}

.partners > img{
  margin-bottom: 0.9rem;
}
.partners img:hover{
  cursor: pointer;
}

.barcelona{
  width: 95%;
  height: auto;
  background-color: white;
  // border: 2px solid rgb(184, 0, 15);
  align-self: center;
  border-radius: 1rem 1rem 0 0;
  padding: 2rem 0 2rem 2rem;
  @include flex(none);
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.barcelona > .heading{
  height: 3rem;
  width: 97%;
  // border: 2px red solid;
  margin-right: 2rem ;
  // display: flex;
  // align-items:center;
  // justify-content: space-between;
  @include flex(space-between);
}

.heading > .lin{
  width: 27rem;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: $barca-font;
  @include text_lingrad;
  // border: 1px solid green;
  display: flex;
  align-items: center;
}

.lin > .mat{
  font-size: 2.2rem;
  font-weight: 500;
  font-family: $barca-font;
  margin-left: 0.7rem;
}

.heading > #time{
  width: 20rem;
  height: 100%;
  font-size: 0.9rem;
  font-family: $barca-font;
  font-weight: 800;
  color: rgb(0, 0, 133);
  @include flex(center);
  gap: 0.5rem;
  // border: 1px solid red;
}

#time > #arrow{
  @include flex(center);
  gap: 0.4rem;
}

#arrow > .left_arrow{
  height: 2.4rem;
  width: 2.4rem;
  font-size:1rem;
  // border: 1px solid red;
  border-radius: 100%;
  @include flex(center);
  transition: all .4s ease;
  background: transparent;
  appearance: none;
  color: black;
}

#arrow > .left_arrow:hover{
  background-color:$b_blue;
  color: whitesmoke;
  @include cursor;
}

#arrow > .right_arrow{
  height: 2.4rem;
  width: 2.4rem;
  font-size:1rem;
  // border: 1px solid red;
  border-radius: 100%;
  @include flex(center);
  transition: all .4s ease;
  background: transparent;
  appearance: none;
  color: black;
}

#arrow > .right_arrow:hover{
  background-color:$b_blue;
  color: whitesmoke;
  @include cursor;
}

.barcelona > .matches{
  height: 20rem;
  width: auto;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
}

// ==================BOX1========================
.matches > .box1{
  height: 100%;
  width: 300px;
  // border: 2px solid green;
  background: url('/images/result-bg.jpeg');
  // background-image: linear-gradient(230deg,rgba(24,23,53,.9),rgba(154,0,11,.9));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  @include flex(center);
  // margin-bottom: 1rem ;
  text-align: center;
  // box-shadow: ;
}

.matches > .box1:hover{
  @include cursor;
}

.dup_box1 {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(230deg,rgba(24,23,53,.9),rgba(154,0,11,.9));
  text-align: center;
  @include flex(center);
}

.dup_box1 > #va{
  font-size: 2.2rem;
  font-family: $barca-font;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.dup_box1 > #va > #res{
  font-size: 2rem;
  font-weight: 700;
}

// ==================BOX2========================
.matches > .box2{
  height: 100%;
  width: 300px;
  // border: 2px solid blue;
  // border: 1px solid whitesmoke;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  margin-top: -2px;
  @include flex(space-between);
  flex-direction: column;
}

.box2 > .blue_head{
  height: 16%;
  width: 98%;
  background-color: $b_blue;
  @include flex(flex-start);
  gap: 0.8rem;
  padding-left: 0.5rem;
}

.blue_head > .num{
  // width: 2rem;
  // margin-right: -0.2rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: $barca-font;
  color: whitesmoke;
}

.blue_head > .day{
  font-size: 1rem;
  font-weight: 800;
  font-family: $barca-font;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  // margin-right: -0.2rem;  
  // text-align: center;
}
.day > .month{
  font-size: 1.1rem;
  font-weight: 200;
  font-family: $barca-font;
  color: whitesmoke;
}

.box2 > .ucl{
  width: auto;
  height:2rem;
  color: tomato;
  font-size: 1rem;
  font-family: 10rem;
  font-family: $barca-font;
  font-weight: 600;
  text-transform: uppercase;
  @include flex(center);
  @include cursor;
  margin: 0.5rem 0 -0.5rem 0;
}

.box2 > .ftime{
  font-size: 0.7rem;
  text-align: center;
  font-family: $barca-font;
  font-weight: 100;
  color: rgb(141, 141, 141);
  @include cursor;
}

.box2 > .vs{
  height: 3rem;
  width: 100%;
  @include flex(space-around);
  // border: 1px solid red;
}

.vs > .logo{
  height: auto;
  width: 14%;
  // border: 1px solid blue;
  // @include cursor;
}


.logo > img{
  height: auto;
  width: 100%;
  @include cursor;

}

.vs > .score{
  height: auto;
  width: 25%;
  background:linear-gradient(to bottom, rgb(68, 68, 146), rgb(21, 21, 61)) blue;
  color: whitesmoke;
  font-size: 2rem;
  font-family: $barca-font;
  font-weight: 700;
  @include flex(center);
  @include cursor;
}

.box2 > .styling{
  @include flex(center);
  gap: 0.5rem;
  text-align: center;
  // border: 1px solid red;
  @include cursor;
}

.styling > .bold{
  font-size: 1.3rem;
  font-family: $barca-font;
  font-weight: 700;
  color: #222;
}

.box2 > .not_bold{
  width: 100%;
  height: 1rem;
  font-size: 0.8rem;
  font-family: $barca-font;
  font-weight: 300;
  margin-top: -0.7rem;
  @include flex(center);
  @include cursor;
}
.box2 > .line{
  height: 1px;
  width: 100%;
  background-color: rgb(184, 179, 179);
}

.box2 > .buttons{
  height: 25%;
  width: 100%;
  // border: 2px solid red;
  @include flex(center);
  gap: 0.8rem;
}

.buttons > .club{
  height: 2rem;
  width: 44%;
  background: rgb(21, 21, 66);
  @include flex(center);
  color: whitesmoke;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 800;
  text-transform: uppercase;
  border: 2px solid;
  border-image: linear-gradient(to right,red ,rgb(39, 39, 221));
  border-image-slice: 1;
  border-radius:5px;  
}

.buttons > .club:hover{
  
  
    background: linear-gradient(to right,rgb(245, 45, 45), rgb(59, 59, 187));
    border-image: none;
    // height: 2.2rem;
    // border: green solid 3px;
    // width: 41%;
    @include cursor;
}

.buttons > .report{
  height: 5rem;
  width: 45%;
  background: #154284;
  @include flex(center);
  color: whitesmoke;
  font-size: 0.6rem;
  font-family: $barca-font;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 3px;
}

.buttons > .report:hover{
  
  
  background: linear-gradient(to right,rgb(245, 45, 45), rgb(38, 38, 173));
  @include cursor;
  height: 2.2rem;
}
// ==================BOX3========================
.matches > .box3{
  height: 100%;
  width: 300px;
  // border: 2px solid blue;
  // border: 1px solid whitesmoke;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  margin-top: -2px;
  @include flex(space-between);
  flex-direction: column;
}

.box3 > .blue_head{
  height: 16%;
  width: 98%;
  background-color: $b_blue;
  @include flex(flex-start);
  gap: 0.8rem;
  padding-left: 0.5rem;
}

.blue_head > .num{
  // width: 2rem;
  // margin-right: -0.2rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: $barca-font;
  color: whitesmoke;
}

.blue_head > .day{
  font-size: 1rem;
  font-weight: 800;
  font-family: $barca-font;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  // margin-right: -0.2rem;  
  // text-align: center;
}
.day > .month{
  font-size: 1.1rem;
  font-weight: 200;
  font-family: $barca-font;
  color: whitesmoke;
}

.box3 > .laliga{
  width: 100%;
  height:1rem;
  color: tomato;
  font-size: 1rem;
  font-family: 10rem;
  font-family: $barca-font;
  font-weight: 600;
  text-transform: uppercase;
  @include flex(center);
  @include cursor;
}

.box3 > .ftime{
  font-size: 0.7rem;
  text-align: center;
  margin-top: -0.5rem;
  font-family: $barca-font;
  font-weight: 100;
  color: rgb(141, 141, 141);
  @include cursor;
}

.box3 > .vs{
  height: 3rem;
  width: 100%;
  @include flex(space-around);
  // border: 1px solid red;
}

.vs > .logo{
  height: auto;
  width: 14%;
  // border: 1px solid blue;
  // @include cursor;
}

.logo > img{
  height: auto;
  width: 100%;
  @include cursor;
}

.vs > .score{
  height: auto;
  width: 25%;
  background:linear-gradient(to bottom, rgb(68, 68, 146), rgb(21, 21, 61)) blue;
  color: whitesmoke;
  font-size: 2rem;
  font-family: $barca-font;
  font-weight: 700;
  @include flex(center);
  @include cursor;
}

.box3 > .styling{
  @include flex(center);
  gap: 0.5rem;
  text-align: center;
  // border: 1px solid red;
  @include cursor;
}

.styling > .bold{
  font-size: 1.3rem;
  font-family: $barca-font;
  font-weight: 700;
  color: #222;
}

.box3 > .not_bold{
  width: 100%;
  height: 1rem;
  font-size: 0.8rem;
  font-family: $barca-font;
  font-weight: 300;
  margin-top: -0.7rem;
  @include flex(center);
  @include cursor;
}
.box3 > .line{
  height: 1px;
  width: 100%;
  background-color: rgb(184, 179, 179);
}

.box3 > .buttons{
  height: 25%;
  width: 100%;
  // border: 2px solid red;
  @include flex(center);
  gap: 0.8rem;
}

.buttons > .club{
  height: 2rem;
  width: 44%;
  background: rgb(21, 21, 66);
  @include flex(center);
  color: whitesmoke;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 800;
  text-transform: uppercase;
  border: 2px solid;
  border-image: linear-gradient(to right,red ,rgb(39, 39, 221));
  border-image-slice: 1;
  border-radius:5px;
}

.buttons > .club:hover{  
  background: linear-gradient(to right,rgb(245, 45, 45), rgb(59, 59, 187));
  border-image: none;
  height: 2.2rem;
  // border: green solid 3px;
  // width: 41%;
  @include cursor;
}

.buttons > .report{
  height: 2rem;
  width: 45%;
  background: #154284;
  @include flex(center);
  color: whitesmoke;
  font-size: 0.6rem;
  font-family: $barca-font;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 3px;
}

.buttons > .report:hover{
  background: linear-gradient(to right,rgb(245, 45, 45), rgb(38, 38, 173));
  @include cursor;
  height: 2.2rem;
}
// ==================BOX4========================
.matches > .box4{
  height: 100%;
  width: 300px;
  // border: 2px solid blue;
  // border: 1px solid whitesmoke;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  margin-top: -2px;
  @include flex(space-between);
  flex-direction: column;
}

.box4 > .blue_head{
  height: 16%;
  width: 98%;
  background-color: $b_blue;
  @include flex(flex-start);
  gap: 0.8rem;
  padding-left: 0.5rem;
}

.blue_head > .num{
  // width: 2rem;
  // margin-right: -0.2rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: $barca-font;
  color: whitesmoke;
}

.blue_head > .day{
  font-size: 1rem;
  font-weight: 800;
  font-family: $barca-font;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  // margin-right: -0.2rem;  
  // text-align: center;
}
.day > .month{
  font-size: 1.1rem;
  font-weight: 200;
  font-family: $barca-font;
  color: whitesmoke;
}

.box4 > .laliga{
  width: 100%;
  height:1rem;
  color: tomato;
  font-size: 1rem;
  font-family: 10rem;
  font-family: $barca-font;
  font-weight: 600;
  text-transform: uppercase;
  @include flex(center);
  @include cursor;
}

.box4 > .ftime{
  font-size: 0.7rem;
  text-align: center;
  margin-top: -0.5rem;
  font-family: $barca-font;
  font-weight: 100;
  color: rgb(141, 141, 141);
  @include cursor;
}

.box4 > .vs{
  height: 3rem;
  width: 100%;
  @include flex(space-around);
  // border: 1px solid red;
}

.vs > .logo{
  height: auto;
  width: 14%;
  // border: 1px solid blue;
  // @include cursor;
}

.logo > img{
  height: auto;
  width: 100%;
  @include cursor;
}

.vs > .timing{
  height: auto;
  width: 26%;
  font-size: 2rem;
  font-family: $barca-font;
  font-weight: 700;
  @include text_lingrad;
  @include flex(center);
  @include cursor;
}

.box4 > .styling{
  @include flex(center);
  gap: 0.5rem;
  text-align: center;
  // border: 1px solid red;
  @include cursor;
}

.styling > .bold{
  font-size: 1.3rem;
  font-family: $barca-font;
  font-weight: 700;
  color: #222;
}

.box4 > .not_bold{
  width: 100%;
  height: 1rem;
  font-size: 0.8rem;
  font-family: $barca-font;
  font-weight: 300;
  margin-top: -0.7rem;
  @include flex(center);
  @include cursor;
}
.box4 > .line{
  height: 1px;
  width: 100%;
  background-color: rgb(184, 179, 179);
}

.box4 > .button{
  height: 25%;
  width: 100%;
  // border: 2px solid red;
  @include flex(center);
  gap: 0.8rem;
}

.button > .tickets{
  height: 2rem;
  width: 45%;
  background: rgb(255, 196, 0);
  @include flex(center);
  color: black;
  font-size: 0.6rem;
  font-family: $barca-font;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all ease 0.4s;
}

.tickets:hover{
  background-color: rgb(199, 18, 18);
  color: whitesmoke;
  @include cursor;
  height: 2.2rem;
}

// =======================HORIZONTAL====================
.barcelona > .horizontal{
  margin-top: 1rem;
  height:0.2rem;
  width: 15%;
  // border: 3px solid red;
  // background-color: red;
  @include flex(center);
  gap: 0.2rem;
}

.horizontal > .hor_line{
  height: 100%;
  width: 30%;
  background-color: rgb(201, 201, 201);
  transition: all ease 0.4s;
}

.hor_line:hover{
  background-color: rgb(184, 21, 21);
  @include cursor;
}

.barcelona > .border_line{
  height: 0.1rem;
  width: 102%;
  margin-left: -2rem;
  margin-top: 1rem;
  background-color: rgb(236, 231, 231);
}

.barcelona > .team{
  height: 29rem;
  width: 100%;
  @include flex(center);
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 3rem;
}

.team > .bar_tick{
  font-size: 2rem;
  font-family: $barca-font;
  font-weight: 900;
  @include text_lingrad;
}

.team > .photos{
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap ;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  @include cursor;
  position: relative;
}

.photos > img{
  display: list-item;
  height:auto;
  width: 23.4%;
  transition: all 0.3s ease-in-out;
  object-fit: contain;
}

.photos > img:hover { 
  scale: 111%;
}

.barcelona > .store{
  height: 29rem;
  width: 100%;
  @include flex(flex-start);
  flex-direction: column;
}

.store > .store_text{
  font-size: 2rem;
  font-family: $barca-font;
  font-weight: 900;
  @include text_lingrad;
}

.shop{
  height: 80%;
  width: 99%;
  @include flex(flex-start);
  gap:0.8rem;
  margin-left: -0.8rem;
}
.shop > .barca_store{
  height: 100%;
  width: 24%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.5);
  @include cursor;
}

.barca_store > .top_photo   {
  width: 100%;
  height: auto;
  border-radius: 7px 7px 0 0;
}

// ==================SHOP=======================
.kits{
  height: 60%;
  width: 100%;
  @include flex(space-around);
}

.kits > img{
  height: auto;
  width: 45%;
}

.shop_text{
  height: 60%;
  width: 100%;
  @include flex(space-around);
  align-items: flex-start;
  flex-direction: column;
}

.kit{
  width: 100%;
  font-size: 1rem;
  font-family: $barca-font;
  font-weight: 1000;
  color: black ;
}

.customize{
  width: 100%;
  font-size: 0.8rem;
  font-weight: 100;
  font-family: $barca-font;
}

.shop_text > #border_line{
  height: 5;
  width: 100%;
  // background: rgb(206, 15, 15);/
  border: 1px solid rgb(206, 206, 206);
  margin-top: 1rem;
}

.sho{
  font-size: 0.8rem;
  font-family: $barca-font;
  font-weight: 900;
  color: blue;
  font-style: italic;
  text-transform: uppercase;
}

/* ====================Start of NEWS======================= */
.news{
  width: 97%;
  height: auto;
  background-color: white;
  align-self: center;
  @include flex(none);
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  padding-top: 2rem;
}

.news > span{
  height: 4%;
  width: 100%;
  font-size: 2rem;
  font-family: $barca-font;
  font-weight: 800;
  color: purple;
  @include flex(center);
  text-transform: uppercase;
}

.news > .boxes{
  height: 96.6%;
  width: 96%;
  @include flex(flex-start);
  display: flex;
  justify-content: center;
  align-items: flex-start ;
  gap: 0.9rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

// ====================NEWS BOX========================
.boxes > .news_box{
  height: 17rem;
  width: 24%;
  // border: red solid 2px;
  @include flex(flex-start);
  flex-direction:column;
  gap:1rem;
  box-shadow: 2px 0px 2px 2px rgb(2, 2, 2,0.2);
  @include cursor;
}

.news_box > img{
  height: 60%;
  width: 100%;
  overflow: hidden;
}

.news_box > .ara_text{
  height: 4rem;
  width: 90%;
  // border: 2px solid red;
  font-size: 1rem;
  font-family: $barca-font;
  font-weight: 700;
  // text-align: center;
  // align-self: center;
  text-transform: capitalize;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.ara_footer{
  height: 20%;
  width: 100%;
  // border: 2px solid green;
  @include flex(space-around);

}

.ara_footer > .left_footer{
  height: 100%;
  width: 50%;
  @include flex(flex-start);
  gap: 0.5rem;
}

.left_footer > .redbox{
  height: 0.5rem;
  width: 0.5rem;
  background-color: red;
}

.left_footer > .type{
  font-size: 0.8rem;
  font-family: $barca-font;
  font-weight: 700;
  color: rgb(206, 0, 0);
  text-transform: uppercase;
}
.right_footer{
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 400;
  color: rgb(161, 156, 156);
  // text-transform: uppercase;
}
/* ====================End of NEWS======================= */


// =====================TROPHIES========================
.trophies{
  height: 6rem;
  width: 95%;
  background-color: #111025;
  align-self: center;
  @include flex(center);
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
  border-radius: 0 0 1rem 1rem;
  border: 1px solid rgb(25, 37, 70);
}

.trophies > .trophy{
  min-height:6rem;
  max-width: 24%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  @include cursor;
}

.trophy > img{
  max-width:  100%;
  min-height: 100%;
  overflow: hidden;
  background-position: cover;
  border-radius: 7px;
}

.text_background{
  height: 0.4rem;
  width: 95%;
  padding:0.8rem 0.5rem;
  // border: 1px solid red;
  background-color: black ;
  position: absolute;
  top: 35%;
  @include flex(space-between);
}

.text_background > .trophy_type{
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 700;
  color:white;
  text-transform: capitalize;
}

.text_background > .trophy_type:nth-child(2){
  font-size: 2.7rem;
  font-family: $barca-font;
  font-weight: 700;
  color:yellow;
  text-transform: capitalize;
  position: absolute;
  top:-0.6rem;
  left: 64%;
}

.text_background > .trophy_type:nth-child(3){
  font-size: 0.6rem;
  font-family: $barca-font;
  font-weight: 800;
  color:white;
  text-transform: uppercase;
}

// =================LALIGA======================

.text_background > .laliga{
  height: auto;
  width: 5rem;
  position: absolute;
  top: -2.3rem;
  left: 29%;
}

// =================UEFA CHAMPIONS LEAGUE======================
.text_background > .ucl{
  height: 6.5rem;
  width: auto;
  position: absolute;
  top: -2.3rem;
  left: 44%;
}

// =================FIFA CLUB WORLD CUP======================
.text_background > .club_world_cup{
  height: 4.6rem;
  width: auto;
  position: absolute;
  top: -1.4rem;
  left: 44%;
}
// =================COPA DEL REY======================
.text_background > .copa_del_rey{
  height: auto;
  width: 5rem;
  position: absolute;
  top: -2.3rem;
  left: 34%;
}

// ====================SOCIAL MEDIA====================
.social_media{
  height: 10rem;
  width:100%;
  align-self: center;
  padding: 1rem ;
  @include flex(flex-start);
  flex-direction: column;
  gap: 0.6rem;
}

.follow{
  height: 3rem;
  width: 50%;
  // border: 1px solid red;
  font-size: 1.3rem;
  font-family: $barca-font;
  font-weight: 800;
  @include flex(center);
  color: whitesmoke;
}

.medias{
  height: 7rem;
  width: 80%;
  @include flex(center);
  gap: 0.6rem;
}

// ===================FACEBOOK====================

.fb{
  height: 100%;
  width: 15%;
  background: #3b5998;
  box-sizing: border-box;
}

.fb > img{
  height: 5rem;
  width: auto;
  margin-left: -0.7rem;
  margin-bottom: 0.5rem;
}

.fb > p{
  color: whitesmoke;
  margin-top: -0.8rem;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 700;
  margin-left: 0.7rem;
}

.fb:hover{
  @include cursor;
  border: 1px solid whitesmoke;
}

// ===================TWITTER====================
.twitter{
  height: 100%;
  width: 15%;
  background: #007cb6;
  box-sizing: border-box;
}

.twitter > img{
  height: 5rem;
  width: auto;
  margin-left: -0.7rem;
  margin-bottom: 0.5rem;
}

.twitter > p{
  color: whitesmoke;
  margin-top: -0.8rem;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 700;
  margin-left: 0.7rem;
}

.twitter:hover{
  @include cursor;
  border: 1px solid whitesmoke;
}

// ===================YOUTUBE====================
.youtube{
  height: 100%;
  width: 15%;
  background: rgb(131, 11, 11);
  box-sizing: border-box;
}

.youtube > img{
  height: 3rem;
  width: auto;
  // margin-left: -0.7rem;
  margin-bottom: 1.7rem;
  margin-top: 0.7rem;
}

.youtube > p{
  color: whitesmoke;
  margin-top: -0.8rem;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 700;
  margin-left: 0.7rem;

}

.youtube:hover{
  @include cursor;
  border: 1px solid whitesmoke;
}

// ===================INSTAGRAM====================
.insta{
  height: 100%;
  width: 15%;
  background: radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e33f5f 50%,#f77638 70%,#fec66d);
  box-sizing: border-box;
}

.insta > img{
  height: 3rem;
  width: auto;
  margin-left: 0.3rem;
  margin-bottom: 1.7rem;
  margin-top: 0.7rem;
}

.insta > p{
  color: whitesmoke;
  margin-top: -0.8rem;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 700;
  margin-left: 0.7rem;

}

.insta:hover{
  @include cursor;
  border: 1px solid whitesmoke;
}

// ===================TIKTOK====================
.tiktok{
  height: 100%;
  width: 15%;
  background: black;
  box-sizing: border-box;
}

.tiktok > img{
  height: 3rem;
  width: auto;
  margin-left: 0.7rem;
  margin-bottom: 1.7rem;
  margin-top: 0.7rem;
}

.tiktok > p{
  color: whitesmoke;
  margin-top: -0.8rem;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 700;
  margin-left: 0.7rem;
}

.tiktok:hover{
  @include cursor;
  border: 1px solid whitesmoke;
}

// ===================SPOTIFY====================
.spotify{
  height: 100%;
  width: 15%;
  background: rgb(17, 161, 17);
  box-sizing: border-box;
}

.spotify > img{
  height: 3rem;
  width: auto;
  // margin-left: -0.7rem;
  margin-bottom: 1.7rem;
  margin-top: 0.7rem;
}

.spotify > p{
  color: whitesmoke;
  margin-top: -0.8rem;
  font-size: 0.7rem;
  font-family: $barca-font;
  font-weight: 700;
  margin-left: 0.7rem;

}

.spotify:hover{
  @include cursor;
  border: 1px solid whitesmoke;
}

// =======================ABOUT CLUB=====================
.about_club{
  height: 21rem;
  width: 90%;
  // border: 2px solid red;
  align-self: center;
  // @include flex(space-between);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

 .players{
  // font-size: 1rem;
  font-family: $barca-font;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.players > ul{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  // margin-top: 1rem;
}
.players > ul li{
  font-size: 0.8rem;
  list-style: none;
  margin-left: -2.3rem;
  font-weight: 100;
  color: rgb(139, 139, 139);
}
.players > ul li:hover{
  text-decoration: underline;
  @include cursor;
}

// =======================COPYRIGHT======================
.copyright{
  height: 3rem;
  width: auto;
  margin-left: 0.7rem;
  @include flex(flex-start);
  gap: 0.5rem;
  margin-top: 2rem;
}
.copyright > img{
  height: 100%;
  width: auto;
}
.copyright > span{
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: $barca-font;
  font-weight: 700;
  color: whitesmoke;
}

// ====================TERMS=================
.terms{
  height: 2rem;
  width: 97%;
  // border: 2px solid red;
  @include flex(space-between);
  padding-inline-start: 1rem;
  padding-inline-end:d 1rem;
  // margin-bottom: -0.9rem;
}
.terms > .left{
  height: 100%;
  width: auto;
}
.left > p{
  color: whitesmoke;
  font-size: 0.9rem;
  font-family: $barca-font;
  font-weight: 100;
}
.left > p span{
  font-weight: 700;
}
.terms > .right{
  height: 100%;
  width: auto;
  @include flex(flex-end);
  gap: 0.4rem;
}
.ver_line{
  height: 80%;
  width: 1px;
  background-color: rgb(182, 182, 182);
}

.right > span{
  color: whitesmoke;
  font-size: 0.7rem;
  font-family: $barca-font;
}

.right > span:hover{
  @include cursor;
  text-decoration: underline;
}
// ====================ENDDD=========================
.end{
  width: 100%;
  height: 1rem;
  background-color:red;
  background: linear-gradient(90deg, #cd122d 0, #154284);
  // border: 2px solid red; 
}

/* ====================End of big_container ======================= */


// ============================================MEDIA QUERIES==========================================================

// ////Media query for normal size
@media only screen and (max-width: 1024px){
  .nav{
    padding-bottom: none;
  }
  .top{
    display: none;
  }
  .mid{
    justify-content: flex-end;
  }
  .signUp{
    display: none;
  }
  .register{
    min-width: 40%;
  }
  .white_nav{
    padding:0.9rem;
    width: 40%;
    gap:2rem;
    @include flex(flex-start);
  }
  .club_info{
    width: 300px;
    left: -420%;
    top: 125%;
    font-size: 0.6rem;
  }
  .yellow_nav{
    padding-inline:0.9rem;
    width: 40%;
    gap:2rem;
    @include flex(flex-end);
  }
  .white_nav li,.yellow_nav li{
    width: auto;
  }

  main{
    margin-top: 7rem;
  }
  .container{
    margin-top: none;
  }
  .barcelona{
    padding: none !important;
  }
  .partners{
    margin-top: 3.9rem !important;
  }
  .team{
    height: 21.5rem !important;
  }
  .photos img{
    margin: none;
  }
  .shop{
    height: 80%;
  }
  .barca_store{
    gap:none;
    box-sizing: border-box;
  }
  .barca_store .top_photo{
    width: 100%;
    height: 25%;
  }
  .barca_store .kits{
    height: 50%;
    padding: 10px;
    flex-direction: column;
    @include flex(center);
    gap: none;
    box-sizing: border-box;
  }
  .shop_text{
    height: 40%;
    width: 100%;
    box-sizing: border-box;
  }
  .shop_text .kit{
    height: 10px ;
    width: 100%;
    box-sizing: border-box;
  }
  .shop_text .customize{
    height: 50% !important;
    margin: none !important;
  }
  .shop_text #border_line{
    visibility: hidden;
  }
  .sho{
    margin-top: -10px;
  }
  .news_box{
    min-height: 21rem;
    min-width: 47%;
  }
  .news_box img{
    object-fit: cover;
    object-position: top;
  }
  .news_box .ara_text{
    font-size: 1.3rem;
  }
  .left_footer .type{
    font-size:1rem ;
  }
  .right_footer{
    font-size: 0.8rem;
  }
  .trophies{
    height: auto;
    flex-wrap: wrap;
  }
  .trophies .trophy{
    height: 5rem;
    min-width: 47%;
  }
  .trophy img{
    width: 100%;
    height: 100%;
    object-position: center;
  }
  .trophy .text_background{
    width: 97%;
    @include flex(space-between);
    // gap: 5rem;
  }
  .text_background .trophy_type{
    font-size: 1rem;
  }
  .trophy_type:nth-child(2){
    left:56% !important;
  }
  .laliga{
    left: 40% !important;
  }
  .ucl{
    left: 40% !important;
  }
  .copa_del_rey{
    left: 40% !important;
  }
  .medias{
    width: 100%;
  }

}




// @media only screen and (max-width: 300px){
//   header{
//     height: 50px;
//     width: 100%;
//     // display: none;
//     // box-sizing:border-box ;
//     // border:2px solid red;
//   }

//   header > .top{
//     @include flex(none);
//   }

//   header > .mid{
//     // @include flex(spac e-between);
//     display: none !important;
//   }
//   .container{
//     // height: 200vh;
//     // width: 100%;
//     // aspect-ratio: 16/9;
//     // box-sizing: border-box;
//     display: none;
//   }
//   .container > .text{
//     font-size: 1rem;
//     overflow: hidden;
//   }
//   .big_container {
//     display: none;
//     overflow: hidden;
//   }

// }
